/* Линии для визуализации */
/* почему-то лайтбокс криво отображает фото, если отключить линии, то все ок */
/*body * {
    outline: 1px dotted red;
    outline-offset: -1px;
    position: relative;
}

img {
  display: block;
  max-width: 100%;
}*/




